In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
lag = pd.read_csv('lag_house.csv')

In [7]:
for val in lag.Price:
        if '$' in val:
            val.split("$")[0]
            print(val)
            # val.astype(float)
            # val*775

$1500000
$2000000
$5000000
$2000000
$440000
$1500000
$1400000
$1100000
$2000000
$1000000
$450000
$2000000
$1100000
$500000/year
$500000
$40000000
$5000000
$500
$500000
$40000000
$980000
$50000000
$500000
$2000000
$700000
$135000
$1200000
$300000
$5000000
$1450000
$1500000000
$1300000000
$1400000
$2000000
$5000000
$875000
$750000
$710000
$220000000
$3300000
$1300000
$1500000
$800000
$125000000
$800000
$1400000
$800000
$1800000
$2000000
$850000
$3000000
$3500000
$800000
$1500000
$3500000
$2000000
$1400000
$1600000
$1000000
$300000000
$35000000
$2700000
$5000000
$3000000
$210000000
$1100000
$40000000
$1100000
$4000000
$5000000
$1350000
$2000000
$1100000
$3000000
$1000000
$500000000
$1800000
$115000000
$190000000
$5000000
$2500000
$800000
$724500
$20000000
$700000
$12000000
$5000000
$600000
$2000000
$750000
$179000
$475800
$1050/sqm
$5000
$50000000
$1000000
$1000/sqm
$1500000
$3000000
$500000
$1500000
$2200/sqm
$10000000
$710000
$16000000
$1200/sqm
$500000
$500000/year
$1000000
$780000
$700000
$340200
$620000
$2000/sqm
$612300
$475800
$1700000
$950000
$850000
$334900
$3500000
$503100
$1998750
$977925
$378300
$1219860
$40000000
$249900
$474700
$1034280
$496320
$350000000
$5000000
$4995000
$1300000
$1700000
$180000000
$47000
$1700000
$3000000
$1500000
$1500000
$2000000
$1000000
$1400000
$5000000
$1500000
$800000
$500000
$750000
$1000000
$1000000
$2000/sqm
$2500
$3500/sqm
$1000000
$1250/sqm
$2000000
$603500
$4000/sqm
$10000000
$3000/sqm
$1100000000
$4000000
$2000000
$15000000
$3000000
$1500000
$2500000
$5000000
$32000000
$5000000
$1100000000
$95000
$1600000
$1000000
$40000000
$32000000
$500000
$10000000
$2000/sqm
$1400000
$5000000
$1500000000
$40000000
$1000000
$800000
$1300000
$1150/sqm
$5000000
$850000
$3000/sqm
$1350000000
$28000000
$100000
$5000000
$125000000
$1500000
$1500000000
$20000000
$10000000
$33000000
$954000/sqm
$10000000
$1500000
$1500000
$5000000
$123000
$1300000
$1000000
$1700000
$420000
$15500000
$750000
$14000000
$1600000
$1300000
$30000000
$44250
$1300000
$2000/sqm
$5000000
$165000000
$1500000
$1500000
$5000000
$15000000
$1500/sqm
$5000000
$5000000
$1600000
$5000000
$12000000
$700000
$150000000
$2000/sqm
$1100/sqm
$40000000
$1200000
$1000000
$1100/sqm
$1500000
$20000000
$1500000
$1500000000
$30000000
$1000000
$1500000
$35000000
$1700000
$5000000
$120000000
$2000000
$100000000
$5000000
$120000000
$5000000
$120000000
$5000000
$150000000
$1600
$180000000
$2000000
$2000000
$190000000
$5000000
$1400000
$190000000
$5000000
$1500000
$20000000
$800000
$7000000
$1000000
$10000000
$2500000
$600000
$1200000
$40000000
$2500000
$1150
$45000000
$3000000
$800000
$145000
$1000000
$5000000
$1600000
$1500000
$32000000
$2000000
$1560000
$168000
$5000000
$15000000
$3200000
$38000000
$1500000
$13000000
$5000000
$5000000
$5000000
$2500000
$1000000
$2700000
$12000000
$1100000
$995000
$10000000
$1450000
$50000000
$5000000
$3000000
$20000000
$980000
$5500000
$2000000
$620000
$3000000
$2500/sqm
$2000000
$1000000
$2500000
$132000
$800000
$1300000
$370000
$5000000
$85000
$10500000
$5000000
$20000000
$3000000
$1500000
$1000000
$1200000
$5000000
$5000000
$1500000
$2000000
$5000000
$2500000
$699999
$30000000
$1500000
$160000000
$160000000
$5000000
$2500/sqm
$8000000
$40000000
$160000000
$1300000
$5200000
$20000000
$120000000
$32000000
$8000000
$15000000
$120000000
$10500000
$36000000
$1000000
$1200000
$1200000
$100000000
$750000
$25000000
$4500000
$15000000
$180000000
$100000
$5000000
$300000/sqm
$2500000
$3000
$1300000
$1250/sqm
$400000
$2000000
$18000000
$2000000
$1600000
$750000
$1500000
$1000000
$600000
$1500000
$2000000
$2000000
$25000000
$210000
$35000000
$1600000
$220000000
$1700000
$2500000
$5000000
$550000
$5000000
$750000
$5000000
$3000000
$1500000
$5000000
$2000000
$2000000
$780000
$1241000
$2000000
$1400000
$800000
$1300000
$780000
$4500000
$1300000
$7000000
$2600000
$1700000
$3000000
$9000000
$5500000
$1100000
$6000000
$3500000
$15000000
$1700000
$3000000
$1000000
$4500000
$1000000
$3000000
$1400000
$1000000
$1600000
$228694
$270000
$475800
$170000000
$707868
$15400000000
$250000
$180000000
$5000000
$3000000
$3000000000
$190000000000
$40000000
$3700000
$190000000
$332000
$404800
$132000
$332000
$82500
$566500
$404800
$14000000
$5000000
$3000000
$35000000
$48500
$122000
$122000
$73000
$41000
$10000000
$1500000000
$1500000000
$332000
$566500
$404800
$380000
$160000000
$1500000
$10000000
$100000000
$2240000
$1295000
$170000000
$65000000
$5000000
$710000
$12000000
$12000000
$45000000
$2500000
$132000
$145000
$105000
$168000
$725000
$625000
$2500000
$15000000
$2000000
$5000000
$12000000
$32000000
$20000000
$10000000
$73000
$48500
$122000
$122000
$41000
$1600000
$40000000
$875000
$2420000
$710000
$5000000
$40000000
$5000000
$1600000
$30000000
$1000000
$100000
$120000000
$1200000
$105000000
$1000000
$450000
$1500000
$525000
$200000
$285000
$300000
$367500
$2000000
$365000
$2000000
$2800000
$1500000
$5000000
$3200000
$55000000
$55000000
$55000000
$10000000
$10000000
$1500/sqm
$4000000
$360000000
$160000000
$130000

In [21]:
lag.head()

,Description,Location,Beds,Baths,Toilets,Price
0,4 BEDROOM FLAT / APARTMENT FOR SALE,Banana Island Ikoyi Lagos,4.0,4.0,5.0,500000000/sqm
1,4 BEDROOM HOUSE FOR SALE,Creeklane Estate. Beside Pinnock Beach Estate ...,4.0,4.0,5.0,350000000
2,LAND FOR SALE,Epe Lagos,0.0,0.0,0.0,400000
3,LAND FOR SALE,Epe Lagos,0.0,0.0,0.0,25000000
4,LAND FOR SALE,Free Trade Zone Ibeju Lekki Lagos,0.0,0.0,0.0,7000000

In [22]:
lag.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60080 entries, 0 to 60079
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Description  60080 non-null  object
 1   Location     60080 non-null  object
 2   Beds         57373 non-null  float64
 3   Baths        57009 non-null  float64
 4   Toilets      56984 non-null  float64
 5   Price        60080 non-null  object
dtypes: float64(3), object(3)
memory usage: 2.8+ MB

In [23]:
# def clean_data(dataframe):
#     # remove any duplicates
#     dataframe.drop_duplicates(inplace=True)
    
#     # replace missing values with NaN
#     dataframe.replace("", np.nan, inplace=True)
    
#     # remove any rows with missing values
#     dataframe.dropna(axis=0, inplace=True)
    
#     # remove any whitespace from string columns
#     for col in dataframe.columns:
#         if dataframe[col].dtype == 'object':
#             dataframe[col] = dataframe[col].str.strip()
            
#     # convert columns to appropriate data types
#     dataframe['Beds'] = dataframe['Beds'].astype(float)
#     dataframe['Baths'] = dataframe['Baths'].astype(float)
#     dataframe['Toilets'] = dataframe['Toilets'].astype(float)
#     dataframe['Price'] = dataframe['Price'].apply(lambda x: float(re.findall('\d+', x)[0]))
#     dataframe['Price'] = dataframe['Price'].astype(float)
    
#     # create new columns for location and house type and drop unnecessary columns
#     dataframe['locale'] = dataframe['Location'].apply(lambda x: x.split(" ")[-2])
#     dataframe['House_Type'] = dataframe['Description'].apply(lambda x: x.split(" ")[-3])
#     dataframe['State'] = dataframe['Location'].apply(lambda x: x.split(" ")[-1])
#     dataframe = dataframe[dataframe.House_Type.isin(['HOUSE', 'APARTMENT'])]
#     dataframe =dataframe[dataframe.State == "Lagos"]
#     dataframe.drop(['Description','State', ], axis=1, inplace=True)

#     # save cleaned data to a new csv file
#     dataframe.to_csv("cleaned_houses.csv", index=False)

In [24]:
clean_data(lag)