In [34]:
import pandas as pd
import numpy as np
import re

In [7]:
lag = pd.read_csv('lag_houses.csv')

In [8]:
lag.head()

,Description,Title,Location,Beds,Baths,Toilets,Is_new,Is_furnished,Is_serviced,Price
0,4 Bedroom Semi Detached Duplex,4 BEDROOM HOUSE FOR SALE,Chevron Lekki Lagos,4.0,5.0,5.0,1,1,1,85000000
1,5 Bedroom Fully Detached Duplex,5 BEDROOM HOUSE FOR SALE,2nd Toll Gate Oral Estate Lekki Lagos,5.0,6.0,6.0,1,1,0,160000000
2,4 Bedroom Semi Detached Duplex+ Jacuzzi,4 BEDROOM HOUSE FOR SALE,2nd Toll Gate Lekki Lagos,4.0,5.0,5.0,1,1,0,68000000
3,5 Bedroom Duplex,5 BEDROOM HOUSE FOR SALE,Ikate Lekki Lagos,5.0,6.0,6.0,1,0,0,290000000
4,3 Bedroom Apartment,3 BEDROOM HOUSE FOR SALE,Lekki Lagos,3.0,4.0,4.0,1,1,0,150000000

In [ ]:
# check for duplicates
lag.duplicated().sum()

In [20]:
# remove duplicates
lag.drop_duplicates(inplace=True)

In [23]:
# check for null or missing values
lag.isna().any()

Description     False
Title           False
Location        False
Beds             True
Baths            True
Toilets          True
Is_new          False
Is_furnished    False
Is_serviced     False
Price           False
dtype: bool

Beds, Baths and Toilets all have missing values. Let's look at those more keenly.

In [ ]:
lag.isna().sum()

In [ ]:
lag[lag.Beds.isna()]
# the missing values probably overlap

The number of rows with missing values is negligible, so drop.

In [26]:
# to drop all null or missing values
lag.dropna(axis=0, inplace=True)

In [29]:
# remove whitspace from string columns
for col in lag.columns:
        if lag[col].dtype == "object":
            lag[col] = lag[col].str.strip()

In [35]:
# some prices are in dollars
# to convert all prices to dollars
# to convert dtype to float
lag["Price"] = [
        float(re.findall("\d+", val.split("$")[1])[0]) * 775
        if "$" in val
        else float(re.findall("\d+", val)[0])
        for val in lag.Price
    ]

In [36]:
lag.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21947 entries, 0 to 24772
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Description   21947 non-null  object
 1   Title         21947 non-null  object
 2   Location      21947 non-null  object
 3   Beds          21947 non-null  float64
 4   Baths         21947 non-null  float64
 5   Toilets       21947 non-null  float64
 6   Is_new        21947 non-null  int64
 7   Is_furnished  21947 non-null  int64
 8   Is_serviced   21947 non-null  int64
 9   Price         21947 non-null  float64
dtypes: float64(4), int64(3), object(3)
memory usage: 1.8+ MB